---
import "@styles/flatsGallery.css"; 
import logoBlue from "@assets/logo-pacifc-soul-blue.png"
import maleconPlano01 from "@assets/flatsGallery/plano-malecon-t01.png"
import maleconMini01 from "@assets/flatsGallery/mini-plano-malecon-t01.png"
import maleconPlano02 from "@assets/flatsGallery/plano-malecon-t02.png"
import maleconMini02 from "@assets/flatsGallery/mini-plano-malecon-t02.png"
import maleconPlano03 from "@assets/flatsGallery/plano-malecon-t03.png"
import maleconMini03 from "@assets/flatsGallery/mini-plano-malecon-t03.png"
import maleconPlano04 from "@assets/flatsGallery/plano-malecon-t04.png"
import maleconMini04 from "@assets/flatsGallery/mini-plano-malecon-t04.png"
import maleconPlano05 from "@assets/flatsGallery/plano-malecon-t05.png"
import maleconMini05 from "@assets/flatsGallery/mini-plano-malecon-t05.png"
import maleconPlano06 from "@assets/flatsGallery/plano-malecon-t06.png"
import maleconMini06 from "@assets/flatsGallery/mini-plano-malecon-t06.png"
---
<section class="py-12">
    <div class="container mx-auto">
        <img data-aos="fade-up" class="w-64 md:w-auto mx-auto aos-init aos-animate" src={logoBlue.src} alt="logo">
        <div data-aos="fade-up" class="flex items-center justify-center gap-8 my-8 aos-init aos-animate">
            <button class="flatsButton flatsButton--blue" type="button">
                Malecón de la Reserva 161
            </button>
        </div>

        <!-- slider planos malecon de la reserva -->
        <div class="swiper swiperPlanos">
            <div class="swiper-wrapper">
                <!-- slide plano malecon tipo 1 -->
                <div class="swiper-slide">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src={maleconPlano01.src} alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4"
                                src={maleconMini01.src} alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">
                                    Tipo 01
                                </h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    3 Dormitorios <br>
                                    Área techada: 143.55 m² <br>
                                    Área Ocupada: 143.55 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">
                                    Dptos. 401, 501, 601, 701, 801, 901, 1001, 1101, 1201, 1301, 1401, 1501, 1601, 1701, 1801, 1901, 2001, 2101
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 2-->
                <div class="swiper-slide">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src={maleconPlano02.src} alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4"
                                src={maleconMini02.src} alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">
                                    Tipo 02
                                </h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    2 Dormitorios <br>
                                    Área techada: 113.22 m² <br>
                                    Área Ocupada: 113.22 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">
                                    Dptos. 402, 502, 602, 702, 802, 902, 1002, 1102, 1202, 1302, 1402, 1502, 1602, 1702, 1802, 1902, 2002, 2102, 2202
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 3 -->
                <div class="swiper-slide">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src={maleconPlano03.src} alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4"
                                src={maleconMini03.src} alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">
                                    Tipo 03
                                </h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    3 Dormitorios <br>
                                    Área techada: 121.97 m² <br>
                                    Área Ocupada: 121.97 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">
                                    Dptos. 403, 503, 603, 703, 803, 903, 1003, 1103, 1203, 1303, 1403, 1503, 1603, 1703, 1803, 1903, 2003, 2103, 2203
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 4 -->
                <div class="swiper-slide">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src={maleconPlano04.src} alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4"
                                src={maleconMini04.src} alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">
                                    Tipo 04
                                </h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    2 Dormitorios <br>
                                    Área techada: 87.53 m² <br>
                                    Área Ocupada: 87.53 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">
                                    Dptos. 204, 304, 404, 504, 604, 704, 804, 904, 1104, 1204, 1304, 1404, 1504, 1604, 1704, 1804, 1904, 2004, 2104
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 5 -->
                <div class="swiper-slide">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src={maleconPlano05.src} alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4"
                                src={maleconMini05.src} alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">
                                    Tipo 05
                                </h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    4 Dormitorios <br>
                                    Área techada: 162.75 m² <br>
                                    Área Ocupada: 162.75 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">
                                    Dptos. 201, 301
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide plano malecon tipo 6 -->
                <div class="swiper-slide">
                    <div class="md:h-[553px] flex flex-col items-center md:flex-row md:items-end justify-center gap-8 lg:gap-20">
                        <img class="h-80 md:h-auto" src={maleconPlano06.src} alt="plano">
                        <div class="h-full flex flex-col items-start justify-between relative px-4">
                            <img class="h-28 md:h-auto absolute right-8 md:relative mb-4"
                                src={maleconMini06.src} alt="plano">
                            <div class="max-w-[330px]">
                                <h4 class="ffBeatriceLight text-xl md:text-4xl text-[#023143]">
                                    Tipo 06
                                </h4>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-2 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] leading-normal m-0">
                                    3 Dormitorios <br>
                                    Área techada: 129.89 m² <br>
                                    Área Ocupada: 129.89 m²
                                </p>
                                <div class="bg-[#023143] w-[100px] h-[2px] my-3 md:my-4"></div>
                                <p class="ffArchivoThin text-sm md:text-lg text-[#023143] mb-0">
                                    Dptos. 202, 302
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

<script>
    // import Swiper JS
    import Swiper from 'swiper'
    import { Navigation, Autoplay } from 'swiper/modules'

    document.addEventListener("DOMContentLoaded", _ => {
        new Swiper(".swiperPlanos", {
            modules: [Navigation, Autoplay],
            slidesPerView: 1,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        })
    })
</script>