---
// import styles bundle
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/autoplay';

import fachada from "@assets/gallery/fachada-departamentos-malecon-miraflores.jpg"
import lounge1 from "@assets/gallery/departamentos-malecon-miraflores-lounge-1.jpg"
import lounge2 from "@assets/gallery/departamentos-malecon-miraflores-lounge-2.jpg"
import fitness1 from "@assets/gallery/departamentos-proyecto-malecon-miraflores-fitness-center-1.jpg"
import fitness2 from "@assets/gallery/departamentos-proyecto-malecon-miraflores-fitness-center-2.jpg"
import coworking1 from "@assets/gallery/departamentos-proyecto-malecon-miraflores-coworking.jpg"
import bikeParking from "@assets/gallery/departamentos-proyecto-malecon-miraflores-bike-parking.jpg"
import bbq from "@assets/gallery/departamentos-proyecto-malecon-miraflores-bbq.jpg"
import petSpa from "@assets/gallery/departamentos-malecon-miraflores-pet-spa.jpg"
import skyPool1 from "@assets/gallery/departamentos-malecon-miraflores-sky-pool-1.jpg"
import skyPool2 from "@assets/gallery/departamentos-malecon-miraflores-sky-pool-2.jpg"
import skyPool3 from "@assets/gallery/departamentos-malecon-miraflores-sky-pool-3.jpg"
import wineWork1 from "@assets/gallery/departamentos-malecon-miraflores-wine-work-1.jpg"
import wineWork2 from "@assets/gallery/departamentos-malecon-miraflores-wine-work-2.jpg"
---
<section class="py-12 px-4 relative gallerySection">
    <div class="container mx-auto">
        <h2 data-aos="fade-up" class="ffArchivoThin text-4xl lg:text-5xl text-center
            text-[#163243] mb-8 md:mb-12 aos-init aos-animate">
            Galería
        </h2>
        <div class="swiper main-slide-carousel swiper-container relative gallery
            swiper-initialized swiper-horizontal">
            <div class="swiper-wrapper" id="swiper-wrapper-1555c5d51fdf236b" aria-live="off"
                style="transition-duration: 0ms; transform: translate3d(-2368px, 0px, 0px); transition-delay: 0ms;">
                <div class="swiper-slide" role="group" aria-label="1 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={fachada.src}
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="2 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={lounge1.src} alt="departamentos malecon miraflores lounge 1"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="3 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={lounge2.src} alt="departamentos malecon miraflores lounge 2"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="4 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={fitness1.src} alt="departamentos proyecto malecon miraflores fitness center 1"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="5 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={fitness2.src} alt="departamentos proyecto malecon miraflores fitness center 2"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="6 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={coworking1.src} alt="departamentos proyecto malecon miraflores coworking"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="7 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={bikeParking.src} alt="departamentos proyecto malecon miraflores bike parking"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="8 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={bbq.src} alt="departamentos proyecto malecon miraflores bbq"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="9 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={petSpa.src} alt="departamentos malecon miraflores pet spa"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="10 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={skyPool1.src} alt="departamentos malecon miraflores sky pool 1"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="11 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={skyPool2.src} alt="departamentos malecon miraflores sky pool 2"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="12 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={skyPool3.src} alt="departamentos malecon miraflores sky pool 3"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="13 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={wineWork1.src} alt="departamentos malecon miraflores wine work 1"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="14 / 14" style="width: 256px; margin-right: 40px;">
                    <div class="max-w-[150px] md:max-w-[280px] mx-auto">
                        <img loading="lazy" src={wineWork2.src} alt="departamentos malecon miraflores wine work 2"
                            class="gallery-image w-full h-64 md:h-[400px] object-cover object-center">
                    </div>
                </div>
            </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-1555c5d51fdf236b" aria-disabled="false"></div>
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-1555c5d51fdf236b" aria-disabled="false"></div>
        <div class="lightbox" id="lightbox">
            <span class="close" id="close">×</span>
            <img src="" alt="" class="lightbox-image" id="lightbox-image">
        </div>
    </div>
</section>

<script>
    // import Swiper JS
    import Swiper from 'swiper'
    import { Navigation, Autoplay } from 'swiper/modules';;

    document.addEventListener("DOMContentLoaded", _ => {
        new Swiper(".main-slide-carousel", {
            modules: [Navigation, Autoplay],
            slidesPerView: 2,
            spaceBetween: 20,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            breakpoints: {
                900: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                },
                1280: {
                    slidesPerView: 4,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        // Get references to elements
        const gallery = document.querySelector('.gallery') as HTMLElement
        const lightbox = document.getElementById('lightbox') as HTMLElement
        const lightboxImage = document.getElementById('lightbox-image') as HTMLImageElement
        const closeButton = document.getElementById('close') as HTMLElement

        // Add event listener to each image
        gallery.addEventListener('click', e => {
            const target = e.target as HTMLImageElement

            if (target.classList.contains('gallery-image')) {
                const imageSrc = target.src;
                lightboxImage.src = imageSrc;
                lightbox.style.display = 'flex';
            }
        });

        // Close lightbox when close button is clicked
        closeButton.addEventListener('click', () => {
            lightbox.style.display = 'none';
        });

        // Close lightbox when clicking outside the image
        lightbox.addEventListener('click', e => {
            if (e.target === lightbox) {
                lightbox.style.display = 'none';
            }
        });
    })
</script>