---
import logoReyna from '@assets/logo-reusche-reyna.png';
import logoVera from '@assets/logo-vera.png';
import logoLmq from '@assets/logo-lmq.png';
import logoLimaDiez from '@assets/logo-lima-diez.png';
import logoCostaHerrera from '@assets/costa-herrera.png';
import logoBernardo from '@assets/logo-bernardo.png';
---
<section class="pt-12 pb-0 md:py-12">
    <div data-aos="fade-up" class="container mx-auto aos-init aos-animate">
        <p class="ffArchivoThin text-2xl md:text-4xl text-[#023143]">Con la colaboración de:</p>
    </div>
    <div data-aos="fade-right" class="bg-[#023143] container-tw py-12 px-8 lg:py-20 aos-init aos-animate">
        <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-12" style="margin-right: inherit;">
            <div class="order-1 md:order-none">
                <img class="h-[70px] md:h-16 mx-auto" src={logoReyna.src} alt="logo reusche reyna">
            </div>
            <div class="order-3 md:order-none">
                <img class="h-[70px] md:h-16 mx-auto" src={logoVera.src} alt="logo vera velarde">
            </div>
            <div class="order-5 md:order-none">
                <img class="h-[50px] md:h-16 mx-auto" src={logoLmq.src} alt="logo lmq">
            </div>
            <div class="order-2 md:order-none">
                <img class="h-[50px] md:h-16 mx-auto" src={logoLimaDiez.src} alt="logo lima diez">
            </div>
            <div class="order-4 md:order-none">
                <img class="h-12 mx-auto" src={logoCostaHerrera.src} alt="logo costa herrera">
            </div>
            <div class="order-6 md:order-none">
                <img class="h-[50px] md:h-16 mx-auto" src={logoBernardo.src} alt="logo bernardo sambra">
            </div>
        </div>
    </div>
</section>