---
import bgOcean from '@assets/featured-bg-ocean.jpg';
import videoSrc from '@assets/sea-texture-5secs.mp4';
import logoBeige from '@assets/logo-beige-pacific-soul.png';
import logoMobile from '@assets/logo-beige-mobile.png';
import arrowDown from '@assets/big-arrow-down.png'
---
<section class="bg-cover bg-center bg-no-repeat h-dvh flex items-center justify-center relative">
    <div class="w-full h-dvh absolute top-0 left-0 z-0 overflow-hidden">
        <video autoplay="" loop="" muted="" playsinline="" class="w-full h-full object-cover" poster={bgOcean.src}>
            <source src={videoSrc} type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="z-10">
        <img class="hidden md:block w-72 lg:w-auto mx-auto" src={logoBeige.src} alt="logo pacific soul">
        <img class="md:hidden w-52 mx-auto" src={logoMobile.src} alt="logo pacific soul">
        <p class="ffArchivoThin text-base md:text-[23px] text-center tracking-[11px] mt-16 mb-12 mx-auto max-w-[260px] md:max-w-full">
            DONDE EL MAR Y EL ALMA <br class="md:hidden"> <b class="ffArchivoBold">SE UNEN</b></p>
        <p class="ffArchivoLight text-sm tracking-[5px] text-center mb-0 md:mb-4">
            MALECÓN <br class="md:hidden"> DE LA RESERVA 161
        </p>
        <div class="bg-white w-6 h-[1px] my-2 mx-auto md:hidden"></div>
        <p class="ffArchivoLight text-sm text-center tracking-[5px]">MIRAFLORES</p>

        <img class="absolute left-0 right-0 bottom-12 mx-auto" src={arrowDown.src} alt="arrow down">
    </div>
</section>